* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.input__search {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
}